# Ignorar todos los archivos .exe en cualquier directorio
*.exe

# Otras reglas comunes para ignorar archivos
# Archivos de configuración del sistema
.DS_Store
Thumbs.db

# Archivos de compilación
/build/
/bin/
/obj/

# Archivos de log
*.log

# Archivos temporales
*.tmp
*.temp

# Archivos generados por el IDE
.idea/
.vscode/

# Ignorar todos los archivos binarios en cualquier directorio
*.dll
*.so
*.dylib
*.pdb
*.idb

# Archivos específicos de tu proyecto
# Agrega aquí cualquier otro archivo o directorio específico que desees ignorar
